<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">   
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>On Process Application</title>

    <!-- Fontfaces CSS-->
    <link href="css/font-face.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="images/icon/logo.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="list-unstyled navbar-mobile__list">
                        <li class="active has-sub">
                            <a href="index.html">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-edit"></i>Applications</a>
                            <ul class="list-unstyled navbar-mobile-sub__list js-sub-list">
                                <li>
                                    <a href="new_application.html">New Application</a>
                                </li>
                                <li>
                                    <a href="all_application.html">All</a>
                                </li>
                                <li>
                                    <a href="completed_application.html">Completed</a>
                                </li>
                                <li>
                                    <a href="onprocess_application.html">On Process</a>
                                </li>
                                <li>
                                    <a href="pending_application.html">Pending</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-male"></i>Customer Management</a>
                            <ul class="list-unstyled navbar-mobile-sub__list js-sub-list">
                                <li>
                                    <a href="register_customer.html">Register Customer</a>
                                </li>
                                <li>
                                    <a href="all_customer.html">All Customers</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-truck"></i>Transport Management</a>
                            <ul class="list-unstyled navbar-mobile-sub__list js-sub-list">
                                <li>
                                    <a href="register_transport.html">Register Transport</a>
                                </li>
                                <li>
                                    <a href="all_transport.html">All Transports</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-cubes"></i>Container Management</a>
                            <ul class="list-unstyled navbar-mobile-sub__list js-sub-list">
                                <li>
                                    <a href="register_container.html">Register Container</a>
                                </li>
                                <li>
                                    <a href="all_container.html">All Containers</a>
                                </li>
                                <li>
                                    <a href="unreturned_container.html">Un-Returned Containers</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-clone"></i>Operational Reports</a>
                            <ul class="list-unstyled navbar-mobile-sub__list js-sub-list">
                                <li>
                                    <a href="file_reports.html">Files Reports</a>
                                </li>
                                <li>
                                    <a href="import_reports.html">Import Reports</a>
                                </li>
                                <li>
                                    <a href="export_reports.html">Export Reports</a>
                                </li>
                                <li>
                                    <a href="bond_reports.html">Bond Reports</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-braille"></i>Daily Status Reports</a>
                            <ul class="list-unstyled navbar-mobile-sub__list js-sub-list">
                                
                                <li>
                                    <a href="import_reports_ds.html">Import Reports</a>
                                </li>
                                <li>
                                    <a href="export_reports_ds.html">Export Reports</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-industry"></i>Border</a>
                            <ul class="list-unstyled navbar-mobile-sub__list js-sub-list">
                                
                                <li>
                                    <a href="border_clearance.html">Border Clearance</a>
                                </li>
                                <li>
                                    <a href="border_processing.html">Border Processing</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-gear"></i>Settings</a>
                            <ul class="list-unstyled navbar-mobile-sub__list js-sub-list">
                                <li>
                                    <a href="slm.html">Shipping Line Management</a>
                                </li>
                                <li>
                                    <a href="pm.html">Ports Management</a>
                                </li>
                                <li>
                                    <a href="obm.html">Office Branches Management</a>
                                </li>
                                <li>
                                    <a href="ctm.html">Cargo Type Management</a>
                                </li>
                                <li>
                                    <a href="am.html">Attachements Management</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="index.html">
                    <img src="images/icon/logo.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a href="index.html">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-edit"></i>Applications</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="new_application.html">New Application</a>
                                </li>
                                <li>
                                    <a href="all_application.html">All</a>
                                </li>
                                <li>
                                    <a href="completed_application.html">Completed</a>
                                </li>
                                <li>
                                    <a href="onprocess_application.html">On Process</a>
                                </li>
                                <li>
                                    <a href="pending_application.html">Pending</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-male"></i>Customer Management</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="register_customer.html">Register Customer</a>
                                </li>
                                <li>
                                    <a href="all_customer.html">All Customers</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-truck"></i>Transport Management</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="register_transport.html">Register Transport</a>
                                </li>
                                <li>
                                    <a href="all_transport.html">All Transports</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-cubes"></i>Container Management</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="register_container.html">Register Container</a>
                                </li>
                                <li>
                                    <a href="all_container.html">All Containers</a>
                                </li>
                                <li>
                                    <a href="unreturned_container.html">Un-Returned Containers</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-clone"></i>Operational Reports</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="file_reports.html">Files Reports</a>
                                </li>
                                <li>
                                    <a href="import_reports.html">Import Reports</a>
                                </li>
                                <li>
                                    <a href="export_reports.html">Export Reports</a>
                                </li>
                                <li>
                                    <a href="bond_reports.html">Bond Reports</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-braille"></i>Daily Status Reports</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                
                                <li>
                                    <a href="import_reports_ds.html">Import Reports</a>
                                </li>
                                <li>
                                    <a href="export_reports_ds.html">Export Reports</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-industry"></i>Border</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                
                                <li>
                                    <a href="border_clearance.html">Border Clearance</a>
                                </li>
                                <li>
                                    <a href="border_processing.html">Border Processing</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-gear"></i>Settings</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="slm.html">Shipping Line Management</a>
                                </li>
                                <li>
                                    <a href="pm.html">Ports Management</a>
                                </li>
                                <li>
                                    <a href="obm.html">Office Branches Management</a>
                                </li>
                                <li>
                                    <a href="ctm.html">Cargo Type Management</a>
                                </li>
                                <li>
                                    <a href="am.html">Attachements Management</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div  class="container-fluid">
                        <div class="header-wrap">
                            <div class="header-button">
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">Admin</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="images/icon/avatar-01.jpg" alt="Admin" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">Admin</a>
                                                    </h5>
                                                    <span class="email">c&g@example.com</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="index.html">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="vendor/slick/slick.min.js">
    </script>
    <script src="vendor/wow/wow.min.js"></script>
    <script src="vendor/animsition/animsition.min.js"></script>
    <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="vendor/circle-progress/circle-progress.min.js"></script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="js/main.js"></script>

</body>

</html>
<!-- end document-->